@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  background: black;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  font-family: "Montserrat";
  position: relative;
}

.start-container,
.main-container,
.catalog-container,
.exercise-container,
.quiz-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-container {
  z-index: 10;
  background: url("../source/BG_Earth2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.start-container__title {
  margin-top: 250px;
  font-size: 40px;
  font-weight: 500;
  transition: 1s;
}
.start-container__authentication {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-size: 30px;
  margin-top: 20px;
  min-width: 300px;
}
.start-container .loginForm,
.start-container .RegisterForm {
  margin-top: 50px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  min-height: 200px;
  min-width: 200px;
  background: rgba(51, 51, 51, 0.5);
  animation: MainBG 0.5s linear forwards;
}
.start-container .loginForm input,
.start-container .RegisterForm input {
  margin-top: 5px;
  min-height: 20px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid gray;
  color: white;
  padding-left: 5px;
}
.start-container .loginForm label,
.start-container .RegisterForm label {
  font-size: 20px;
  margin-top: 10px;
}
.start-container .loginForm button,
.start-container .RegisterForm button {
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background: transparent;
  border: 0;
  color: white;
  border: 2px solid gray;
  transition: 0.3s;
  font-size: 16px;
}
.start-container .loginForm button:hover,
.start-container .RegisterForm button:hover {
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2);
}
.start-container__signin, .start-container__signup {
  margin: 0 20px;
  transition: 0.3s;
}
.start-container__signin:hover, .start-container__signup:hover {
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.main-container {
  top: 100%;
  opacity: 0;
  z-index: 9;
  height: 100%;
  transition: 1s;
  transition-delay: 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container__map {
  z-index: 11;
  margin-top: 50px;
  transition: 1s;
  width: 500px;
  height: 500px;
  background: url("../source/NorthMap.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}
.main-container__option {
  z-index: 12;
  transition: 1s;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  border: 6px double rgb(37, 33, 117);
  width: 125px;
  height: 125px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.main-container__option:hover {
  letter-spacing: 1px;
  cursor: pointer;
  border: 6px double white;
}
.main-container .first {
  top: 0;
  left: 0;
  transform: translate(-25%, 50%);
}
.main-container .second {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.main-container .third {
  top: 0%;
  left: 100%;
  transform: translate(-75%, 50%);
}

.catalog-container {
  display: none;
  top: -100%;
  flex-direction: row;
}
.catalog-container__title {
  padding: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.catalog-container__image {
  height: 40px;
  width: 40px;
  position: relative;
}
.catalog-container__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-container__aside {
  height: 100vh;
  width: 30%;
  max-width: 300px;
  border-right: 2px solid #222;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  overflow: hidden;
}
.catalog-container__aside ul {
  max-height: 100%;
  overflow-y: scroll;
}
.catalog-container__aside li {
  height: 40px;
  border-bottom: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  color: gainsboro;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.catalog-container__aside li:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
.catalog-container__main {
  padding-top: 30px;
  width: 100%;
  height: 100%;
}
.catalog-container__big-image {
  width: 100%;
  height: 80%;
  position: relative;
}
.catalog-container__big-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog-container__bottom {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-top: 2px solid #222;
}

.exercise-container {
  display: none;
  top: -100%;
  z-index: 10;
}
.exercise-container .text {
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  transition: 0.3s;
}
.exercise-container .text:hover {
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.exercise-container__north, .exercise-container__zodiac, .exercise-container__south {
  width: 100%;
  height: 40%;
}
.exercise-container__north {
  background: url("../source/north.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.exercise-container__zodiac {
  width: 100%;
  height: 20%;
  position: relative;
  z-index: 9;
  border: 4px solid #222;
}
.exercise-container__loop {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: 11;
  background: url("../source/Zodiac.jpeg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: ZodiacLoop 60s linear infinite;
}
.exercise-container__south {
  background: url("../source/south.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}
.exercise-container__zodiac-text {
  position: absolute;
  top: 0;
  left: -2%;
  z-index: 12;
  width: 104%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}
.exercise-container .exercise-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: 11;
  background: transparent;
  align-items: center;
  margin-left: 35vw;
  transition: 0.5s;
}
.exercise-container .exercise-block .current {
  transform: scale(1);
  filter: blur(0px);
}
.exercise-container .exercise-block .current .cover {
  display: none;
}
.exercise-container .exercise-block__block {
  position: relative;
  z-index: 12;
  filter: blur(6px);
  margin: 0px 20px;
  transform: scale(0.8);
  overflow: hidden;
  width: 400px;
  height: 700px;
  border: 5px double rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  align-items: center;
  background: rgba(34, 34, 34, 0.3);
}
.exercise-container .exercise-block__block .cover {
  display: block;
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.exercise-container .exercise-block__image {
  height: 40%;
  width: 100%;
  position: relative;
}
.exercise-container .exercise-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.exercise-container .exercise-block__name, .exercise-container .exercise-block__description, .exercise-container .exercise-block__features, .exercise-container .exercise-block__studied, .exercise-container .exercise-block__buttons {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  height: 10%;
  border-top: 2px solid #222;
  background-color: rgba(128, 128, 128, 0.3);
  transition: 0.3s;
  flex-direction: column;
  overflow-y: scroll;
}
.exercise-container .exercise-block__name:hover, .exercise-container .exercise-block__description:hover, .exercise-container .exercise-block__features:hover, .exercise-container .exercise-block__studied:hover, .exercise-container .exercise-block__buttons:hover {
  background-color: rgba(128, 0, 128, 0.1);
}
.exercise-container .exercise-block__name {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.exercise-container .exercise-block__description {
  height: 15%;
}
.exercise-container .exercise-block__features {
  height: 15%;
}
.exercise-container .exercise-block__features ul {
  width: 100%;
  height: 100%;
}
.exercise-container .exercise-block__features ul li {
  padding: 5px;
  padding-left: 15px;
  text-align: left;
}
.exercise-container .exercise-block__studied:hover {
  cursor: pointer;
  font-size: 16px;
  background-color: rgba(0, 128, 0, 0.1);
}
.exercise-container .exercise-block__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.exercise-container .exercise-block__previous, .exercise-container .exercise-block__next {
  cursor: pointer;
  background: transparent;
  padding: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  box-shadow: 0px 0px 12px 0px rgba(32, 158, 187, 0.2);
  color: white;
  transition: 0.3s;
}
.exercise-container .exercise-block__previous:hover, .exercise-container .exercise-block__next:hover {
  box-shadow: 0px 0px 12px 7px rgba(255, 255, 255, 0.3);
  letter-spacing: 1.5px;
}

.quiz-container {
  display: none;
  top: -100%;
}
.quiz-container .text {
  cursor: pointer;
  font-size: 35px;
  font-weight: 400;
  transition: 0.3s;
}
.quiz-container .text:hover {
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.quiz-container__top {
  display: flex;
  width: 100%;
  height: 70%;
}
.quiz-container__left {
  border-right: 2px solid #222;
  background: url("../source/left.jpg");
}
.quiz-container__center {
  background: url("../source/center.jpg");
}
.quiz-container__right {
  border-left: 2px solid #222;
  background: url("../source/right.jpg");
}
.quiz-container__bottom {
  border-top: 2px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  background: url("../source/bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.quiz-container__left, .quiz-container__center, .quiz-container__right {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.quiz-container__right {
  width: 33.4%;
}
.quiz-container .quiz-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: 11;
  background: transparent;
  align-items: center;
  margin-left: 35vw;
  transition: 0.5s;
}
.quiz-container .quiz-block .current {
  transform: scale(1);
  filter: blur(0px);
}
.quiz-container .quiz-block .current .cover {
  display: none;
}
.quiz-container .quiz-block__block {
  position: relative;
  z-index: 12;
  filter: blur(6px);
  margin: 0px 20px;
  transform: scale(0.8);
  overflow: hidden;
  width: 400px;
  height: 700px;
  border: 5px double rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  align-items: center;
  background: rgba(34, 34, 34, 0.3);
}
.quiz-container .quiz-block__block .cover {
  display: block;
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.quiz-container .quiz-block__image {
  height: 40%;
  width: 100%;
  position: relative;
}
.quiz-container .quiz-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.quiz-container .quiz-block__name, .quiz-container .quiz-block__buttons, .quiz-container .quiz-block__question {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  text-align: center;
  height: 10%;
  border-top: 2px solid #222;
  background-color: rgba(128, 128, 128, 0.3);
  transition: 0.3s;
  flex-direction: column;
  overflow-y: scroll;
}
.quiz-container .quiz-block__name:hover, .quiz-container .quiz-block__buttons:hover {
  background-color: rgba(128, 0, 128, 0.1);
}
.quiz-container .quiz-block__name {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.quiz-container .quiz-block__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.quiz-container .quiz-block__question {
  padding: 0;
  flex: 1 1 auto;
  overflow-y: auto;
}
.quiz-container .quiz-block__question ul {
  padding: 0;
  width: 100%;
  height: 100%;
}
.quiz-container .quiz-block__question ul li {
  font-size: 24px;
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #222;
}
.quiz-container .quiz-block__question ul li:hover {
  background-color: rgba(0, 128, 0, 0.1);
}
.quiz-container .quiz-block__previous, .quiz-container .quiz-block__next {
  cursor: pointer;
  background: transparent;
  padding: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  box-shadow: 0px 0px 12px 0px rgba(32, 158, 187, 0.2);
  color: white;
  transition: 0.3s;
}
.quiz-container .quiz-block__previous:hover, .quiz-container .quiz-block__next:hover {
  box-shadow: 0px 0px 12px 7px rgba(255, 255, 255, 0.3);
  letter-spacing: 1.5px;
}

.back-button {
  position: absolute;
  top: 90%;
  left: 95%;
  width: 40px;
  height: 40px;
  z-index: 13;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.back-button:hover {
  text-shadow: 1px 3px 0 #0be2f1, 1px 13px 5px #aba8a8;
}

@keyframes WrapperBG {
  0% {
    opacity: 0;
    background: url("../source/BG3.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  100% {
    background: url("../source/BG3.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 1;
  }
}
@keyframes zoomTopMain {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes zoomBottom2Main {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes zoomTopStart {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes zoomTopContainer {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes zoomBottomMain {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes MainBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MainBGReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes MainContainerMoving {
  0% {
    background-position: top;
  }
  33% {
    background-position: right;
  }
  66% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@keyframes ZodiacLoop {
  0% {
    left: 0;
  }
  100% {
    left: -99%;
  }
}
@keyframes ZodiacShirma {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes ZodiacShirmaReverse {
  0% {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    opacity: 0;
    background: transparent;
  }
}
::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #222;
  border-radius: 5px;
}