@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    background: black;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;

    color: white;
    font-family: 'Montserrat';
    position: relative;
}

.start-container,
.main-container,
.catalog-container,
.exercise-container,
.quiz-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.start-container {
    z-index: 10;
    background: url('../source/BG_Earth2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


    &__title {
        margin-top: 250px;
        font-size: 40px;
        font-weight: 500;
        transition: 1s;
    }

    &__start {
        transition: .3s;
        font-size: 30px;
        margin-top: 20px;
        cursor: pointer;
    }

    &__start:hover {
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    }
}

.main-container {
    top: 100%;
    opacity: 0;
    z-index: 9;
    height: 100%;
    transition: 1s;
    transition-delay: 2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__map {
        z-index: 11;
        margin-top: 50px;
        transition: 1s;
        width: 500px;
        height: 500px;
        background: url('../source/NorthMap.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        position: relative;
    }



    &__option {
        z-index: 12;

        transition: 1s;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        border: 6px double rgba(37, 33, 117, 1.0);
        width: 125px;
        height: 125px;
        background: rgba($color: white, $alpha: 0.1);
        backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    &__option:hover {
        letter-spacing: 1px;
        cursor: pointer;
        border: 6px double white;
    }

    .first {
        top: 0;
        left: 0;
        transform: translate(-25%, 50%);
    }

    .second {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    .third {
        top: 0%;
        left: 100%;
        transform: translate(-75%, 50%);

    }
}

.catalog-container {
    display: none;
    top: -100%;

    flex-direction: row;

    &__title {
        padding: 20px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    &__image {
        height: 40px;
        width: 40px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__aside {
        height: 100vh;
        width: 30%;
        max-width: 300px;
        border-right: 2px solid #222;
        background: rgba($color: #000000, $alpha: 0.5);
        backdrop-filter: blur(1px);
        overflow: hidden;




        ul {

            max-height: 100%;
            overflow-y: scroll;
        }

        li {
            height: 40px;
            border-bottom: 1px solid #222;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px;
            color: gainsboro;
            transition: .3s;
            position: relative;
            overflow: hidden;



        }

        li:hover {
            cursor: pointer;
            color: white;
            background-color: rgba($color: white, $alpha: 0.2);
        }

    }

    &__main {
        padding-top: 30px;
        width: 100%;
        height: 100%;
    }

    &__big-image {
        width: 100%;
        height: 80%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bottom {
        background: rgba($color: #000000, $alpha: 0.5);

        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-top: 2px solid #222;
    }
}

.exercise-container {
    display: none;
    top: -100%;
    z-index: 10;

    .text {
        cursor: pointer;
        font-size: 30px;
        font-weight: 400;
        transition: .3s;
    }

    .text:hover {
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;

    }

    &__north,
    &__zodiac,
    &__south {
        width: 100%;
        height: 40%;
    }

    &__north {
        background: url('../source/north.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    &__zodiac {
        width: 100%;
        height: 20%;
        position: relative;
        z-index: 9;
        border: 4px solid #222;

    }

    &__loop {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        z-index: 11;
        background: url('../source/Zodiac.jpeg');
        background-size: contain;
        background-repeat: repeat-x;
        animation: ZodiacLoop 60s linear infinite;
    }

    &__south {
        background: url('../source/south.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    &__zodiac-text {
        position: absolute;
        top: 0;
        left: -2%;
        z-index: 12;
        width: 104%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: .3s;
    }


    .exercise-block {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        z-index: 11;
        background: transparent;
        align-items: center;
        margin-left: 35vw;
        transition: .5s;

        .current {
            transform: scale(1);
            filter: blur(0px);

            .cover {
                display: none;
            }

        }

        &__block {

            position: relative;
            z-index: 12;

            .cover {
                display: block;
                position: absolute;
                z-index: 13;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            filter: blur(6px);
            margin: 0px 20px;
            transform: scale(0.8);
            overflow: hidden;
            width: 400px;
            height: 700px;
            border: 5px double rgba($color: #222, $alpha: 0.6);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            transition: .5s;
            align-items: center;
            background: rgba($color: #222, $alpha: 0.3);
        }

        &__image {
            height: 40%;
            width: 100%;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__name,
        &__description,
        &__features,
        &__studied,
        &__buttons {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: 100%;
            text-align: center;
            height: 10%;
            border-top: 2px solid #222;
            background-color: rgba($color: gray, $alpha: 0.3);
            transition: .3s;
            flex-direction: column;
            overflow-y: scroll;
        }

        &__name:hover,
        &__description:hover,
        &__features:hover,
        &__studied:hover,
        &__buttons:hover {
            background-color: rgba($color: purple, $alpha: 0.1);
        }

        &__name {
            font-size: 24px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        &__description {
            height: 15%;
        }

        &__features {
            height: 15%;

            ul {
                li {
                    padding: 5px;
                    padding-left: 15px;
                    text-align: left;
                }

                width: 100%;
                height: 100%;
            }

        }

        &__studied {}

        &__studied:hover {
            cursor: pointer;
            font-size: 16px;
            background-color: rgba($color: green, $alpha: 0.1);

        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }

        &__previous,
        &__next {
            cursor: pointer;
            background: transparent;
            padding: 10px;
            border-radius: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            box-shadow: 0px 0px 12px 0px rgba(32, 158, 187, 0.2);
            color: white;
            transition: .3s;

        }

        &__previous:hover,
        &__next:hover {
            box-shadow: 0px 0px 12px 7px rgba(255, 255, 255, 0.3);
            letter-spacing: 1.5px;
        }
    }

}

.quiz-container {

    display: none;
    top: -100%;

    .text {
        cursor: pointer;
        font-size: 35px;
        font-weight: 400;
        transition: .3s;
    }

    .text:hover {
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;

    }

    &__top {
        display: flex;
        width: 100%;
        height: 70%;
    }

    &__left {
        border-right: 2px solid #222;
        background: url('../source/left.jpg');
    }

    &__center {
        background: url('../source/center.jpg');
    }

    &__right {
        border-left: 2px solid #222;
        background: url('../source/right.jpg');
    }

    &__bottom {
        border-top: 2px solid #222;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
        background: url('../source/bottom.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__left,
    &__center,
    &__right {
        height: 100%;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__right {
        width: 33.4%;
    }

    .quiz-block {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        z-index: 11;
        background: transparent;
        align-items: center;
        margin-left: 35vw;
        transition: .5s;

        .current {
            transform: scale(1);
            filter: blur(0px);

            .cover {
                display: none;
            }

        }

        &__block {

            position: relative;
            z-index: 12;

            .cover {
                display: block;
                position: absolute;
                z-index: 13;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            filter: blur(6px);
            margin: 0px 20px;
            transform: scale(0.8);
            overflow: hidden;
            width: 400px;
            height: 700px;
            border: 5px double rgba($color: #222, $alpha: 0.6);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            transition: .5s;
            align-items: center;
            background: rgba($color: #222, $alpha: 0.3);
        }

        &__image {
            height: 40%;
            width: 100%;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__name,
        &__buttons,
        &__question {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: 100%;
            text-align: center;
            height: 10%;
            border-top: 2px solid #222;
            background-color: rgba($color: gray, $alpha: 0.3);
            transition: .3s;
            flex-direction: column;
            overflow-y: scroll;
        }

        &__name:hover,
        &__buttons:hover {
            background-color: rgba($color: purple, $alpha: 0.1);
        }

        &__name {
            font-size: 24px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
        }

        &__question {
            padding: 0;
            flex: 1 1 auto;
            overflow-y: auto;

            ul {
                padding: 0;
                width: 100%;
                height: 100%;

                li {
                    font-size: 24px;
                    letter-spacing: 2px;
                    transition: .3s;
                    cursor: pointer;
                    width: 100%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 2px solid #222;

                }

                li:hover {
                    background-color: rgba($color: green, $alpha: 0.1);
                }
            }
        }

        &__previous,
        &__next {
            cursor: pointer;
            background: transparent;
            padding: 10px;
            border-radius: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            box-shadow: 0px 0px 12px 0px rgba(32, 158, 187, 0.2);
            color: white;
            transition: .3s;

        }

        &__previous:hover,
        &__next:hover {
            box-shadow: 0px 0px 12px 7px rgba(255, 255, 255, 0.3);
            letter-spacing: 1.5px;
        }
    }
}

.back-button {
    position: absolute;
    top: 90%;
    left: 95%;
    width: 40px;
    height: 40px;
    z-index: 13;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
}

.back-button:hover {
    text-shadow: 1px 3px 0 #0be2f1, 1px 13px 5px #aba8a8;
}






@keyframes WrapperBG {
    0% {
        opacity: 0;
        background: url('../source/BG3.jpeg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

    }

    100% {
        background: url('../source/BG3.jpeg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        opacity: 1;
    }
}

@keyframes zoomTopMain {
    0% {
        top: 0
    }

    100% {
        top: 100%;
    }
}

@keyframes zoomBottom2Main {
    0% {
        top: 100%
    }

    100% {
        top: 0;
    }
}

@keyframes zoomTopStart {
    0% {
        top: 0
    }

    100% {
        top: 100%;
    }
}

@keyframes zoomTopContainer {
    0% {
        top: 0
    }

    100% {
        top: -100%;
    }
}

@keyframes zoomBottomMain {
    0% {
        top: -100%
    }

    100% {
        top: 0;
    }
}

@keyframes MainBG {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MainBGReverse {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}

@keyframes MainContainerMoving {
    0% {
        background-position: top;
    }

    33% {

        background-position: right;
    }

    66% {
        background-position: bottom;
    }

    100% {
        background-position: top;

    }

}

@keyframes ZodiacLoop {
    0% {
        left: 0;
    }

    100% {
        left: -99%;
    }
}

@keyframes ZodiacShirma {
    0% {
        opacity: 0;
        background: transparent;
    }

    100% {
        opacity: 1;
        background: rgba($color: black, $alpha: 0.5);
    }
}

@keyframes ZodiacShirmaReverse {
    0% {
        opacity: 1;
        background: rgba($color: black, $alpha: 0.5);
    }

    100% {
        opacity: 0;
        background: transparent;
    }
}





::-webkit-scrollbar {
    cursor: pointer;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;

    transition: 1s;
    background-color: #222;
    border-radius: 5px;
}